<p class="welcome">Congratulations! You signed up as:</p>
<div class="row collapse">
	<div class="small-12 columns ">
		<%= @user.game %>
	</div>
</div>		
<div class="row collapse">
	<div class="small-12  columns">
		<%= @user.nick %>
	</div>
</div>
<div class="row collapse">
	<div class="small-12  columns">
		<%= @user.email %>
	</div>
</div>