<div class="row collapse">
	<div class="small-12 columns ">
		<div id="notice">
		    <%= render :partial => 'layouts/flash' , :locals => {:flash => flash } %>
		  </div>
	</div>
</div>	

<div class="row collapse">
	<div class="small-12 columns ">
		<%= @user.game %>
	</div>
</div>		
<div class="row collapse">
	<div class="small-12  columns">
		<%= @user.nick %>
	</div>
</div>
<div class="row collapse">
	<div class="small-12  columns">
		<%= @user.email %>
	</div>
</div>