

  <div class="row">
    <div class="large-12 columns">
    	<h2>Listing users</h2>
    </div>
  </div>

  <div class="row">
  <div class="large-12">
   <div class="row collapse">
<table class="large-6">
	<tr>
		<th class="large-6 columns">Players:</th>
		<th class="large-6 columns">Interested in:</th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td class="large-6 columns"><%= user.nick %></td>
			<td class="large-6 columns"><%= user.game %></td>
		</tr>
	<% end %>
	
</table>
</div>
</div>
</div>
