
 
  <div class="row">
    <div class="large-12 columns" role="content">
		 <div class="row">
	    	<div class="large-6 columns">
	      <div id="signup" class="signup-panel">

	      	<%= render 'signup_form' %>

	      </div>
	    </div>
	   </div> 	

    </div>
     
  </div>