 <!-- Challengers -->
<section class="challengers-section" id="challengers">
  
  <!-- Title -->
  <div class="row">
    <div class="medium-8 medium-centered columns text-center">


      <h2>Meet the Challengers</h2>
      <div class="line"></div>

    </div> 

  </div> <!-- /.row -->


  <!-- First Columns -->
  <div class="row">
      
    <div class="medium-4 columns">
      
      <div class="col-work text-center">
        
        <a href="#fakelinks" data-reveal-id="work-modal-1" data-reveal>
          <%= image_tag "tonsser.jpg" %>
        </a>

        <!-- Title -->
        <h4>Tonsser</h4>

        <!-- Description -->
        <p>They're a startup working out of Copenhagen. They want to create the new home of football, but more importantly, they want to beat your team in FIFA.</p>

      </div>
      
    </div> <!-- /.medium-4 .columns -->

    <div class="medium-4 columns">
      
      <div class="col-work text-center">
      
        <a href="#fakelinks" data-reveal-id="work-modal-1" data-reveal>
          <%= image_tag "dice.jpg" %>
        </a>

        <!-- Title -->
        <h4>DICE</h4>

        <!-- Description -->
        <p>As a part of EA they are the people behind a small game called Battlefield. Do you dare challenge them at their own game?</p>

      </div> <!-- /.col-work -->
      
    </div> <!-- /.medium-4 .columns -->

    <div class="medium-4 columns">
      
      <div class="col-work text-center">
      
        <a href="#fakelinks" data-reveal-id="work-modal-1" data-reveal>
          
          <%= image_tag "Eurogamer.jpg" %>
        </a>

        <!-- Title -->
        <h4>Eurogamer.net</h4>

        <!-- Description -->
        <p>Based in Brighton, they write about videogames. They'll play anything, but they're here to challenge your team in Hearthstone: Heroes of Warcraft.</p>

      </div> <!-- /.col-work -->
      
    </div> <!-- /.medium-4 .columns -->

  </div> <!-- /.row -->

</section>