<% content_for :title do %>About<% end %>

  <div class="row">
    <div class="large-12 columns">
    	<h2>What is Battle of the Bureaus</h2>
    </div>
  </div>

  <div class="row">
	  <div class="large-12 columns">
		<p>We're profesional, we play games. But we don't play games profesionally.</p>

		<p>And neither do you, probably.</p>

		<p>But that doesn't mean we can't compete with and against our colleagues.</p>

		<p>Battle of the Bureaus aims to create a platform to do just that. We want to put you in contact with other people playing videogames with their colloeagues all over Europe, and eventually arrange tournaments for you to compete in.</p>

		<p>Kind regards, the joint chiefs os staff.</p>
	</div>
</div>