<% flash.each do |name, msg| %>
            <div data-alert class="alert-box success radius">
                <%#= msg %>
                <a class="close" href="#">&times;</a>
            </div>
<% end %>
