 <div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <li><%= link_to 'Frontpage', new_user_path, :class => 'button' %></li>
        <li><%= link_to 'See all users', users_path, :class => 'button' %></li>
        <li><%= link_to 'About', page_path('about'), :class => 'button' %></li>
      </ul>
    </div>
    <h1>Battle of the Bureaus <small>Duella Europae</small></h1>
    <hr/>
  </div>
</div>